.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 1px 10px black;
    background-color: #2d313a;
    position: fixed;
    z-index: 100;
    bottom: 0;
}

.footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 50px;
    
}

@media (max-width: 800px) {

    .footer {
        height: 5vh;
    }
}

@media (max-width: 650px) {
    .footer {
        font-size: 10px;
        margin: 10px 35px;
    }
}

@media (max-width: 400px) {
    .footer {
        font-size: 10px;
        margin: 10px 20px;
    }
}