.poster_img {
    border-radius: 10px;
}

.trending-container {
    padding-top: 100px;
}

.trending-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #282c34;
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 200px;
    cursor: pointer;
}


.trending-wrapper:hover {
    background-color: white;
    color: black;
}

.poster_title {
    text-align: center;
    overflow-wrap: break-word; 
    width: 100%;
    padding: 8px 0;
    font-size: 17px;
}

.single_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.poster_content {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}


.trending-container h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
}

@media (max-width: 820px) {
    .trending-container {
        padding-top: 50px;
    }
}
