.page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0 6% 0;
    margin-bottom: 3.5%;
}

@media (max-width: 1050px) {
    .page_container {
        margin-bottom: 3%;
    }
  }
  
  @media (max-width: 800px) {
    .page_container {
        margin-bottom: 5%;
    }
  
  }
  
  @media (max-width: 650px) {
    .page_container {
        margin-bottom: 10%;
    }
  
  }
  
  @media (max-width: 500px) {
    .page_container {
        margin-bottom: 10%;
    }
  
  }